{% extends "priceapp/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'delete' object.id %}">
            {% csrf_token %}
            <fieldset class="form-group">
                
                <h4>Are you sure you want to delete the Price Plan</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <!-- <a class="btn btn-outline-secondary" href="{% url 'delete' object.id %}">Cancel</a> -->
            </div>
        </form>
    </div>
{% endblock content %}